<div class="letters">

<p><%=@letters_numbers[0]%></p>
<p><%=@letters_numbers[1]%></p>
<p><%=@letters_numbers[2]%></p>
<p><%=@letters_numbers[3]%></p>
<p><%=@letters_numbers[4]%></p>
<p><%=@letters_numbers[5]%></p>
<p><%=@letters_numbers[6]%></p>
<p><%=@letters_numbers[7]%></p>
</div>